/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

html, body {
  margin: 0;
}
a { color: inherit; } 

/* START:Atoms... maybe move to palette? */

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

/* END:Atoms */

.logo {
  width: 100px;
}

.main-live {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-controllers {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px;
}

.main-stats {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  color: white;
  background-color: var(--color-black100);
  padding: var(--space-2) 0;
}
.stat {
  font-size: 18px;
}

section.stats-details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

section.event {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

section.artworks {
  display: flex;
  flex-direction: column;
}

.artwork-event {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 250px;
  height: 300px;
  padding: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.autocomplete-section {
  display: flex;
  flex-direction: row;
}
.autocompleteItem {
  width: 100%;
  padding: 5px;
  font-size: 14;
}

.autocompleteItem:hover {
  font-weight: bold;
  cursor: pointer;
}

.autocomplete{
  width: 90%;
  margin: 20px;
}

